article
  p.note Timeline
  ul
    li
      a(href="/events/Newtown_Shootings") Shooting
      a(href="/events/Newtown_Shootings_President_Speech") Obama speech 
      a(href="/events/Newtown_Shootings_Memorial") Memorial 
